/* 
    Documento  : dialog
    Criado em  : 11/10/2012, 22:20:33
    Autor      : Herberts Cruz
    Descrição  :
        Faz a formatação de estilo do componente Dialog.
*/

.label, .text {
    -fx-font-family: helvetica, arial, sans-serif;
    -fx-font-size: 14;
}

.background-black {    
    -fx-background-color: rgba(8,16,29,0.5);
}

.v-box {
    -fx-background-color: linear-gradient(#ffffff 0%, #ebebeb 25%, #e1e1e1 75%, #d7d7d7 100%);
    -fx-background-radius: 10,10,10,10;
    -fx-border-color: #b7b7b7;
    -fx-border-radius: 10,10,10,10;
}

.label .text {
    -fx-text-alignment: center;
}

.button {
    -fx-background-color: linear-gradient(#0a4770 0%, #0b3c61 25%, #091221 75%, #08101d 100%);
    -fx-text-fill: #FFFFFF;
}

.button:hover { 
    -fx-effect: dropshadow(three-pass-box, rgba(0,134,230,0.7), 6, 0.0, 0, 1);
}